@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

body {
    font-family: "roboto-Medium", sans-serif;
    background: url(./assets/icons/background.png) no-repeat;
}

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 1920px;
}

.photo {
    position: relative;
}

.photo__title {
    background-color: black;
    padding: 14px 96px;
    color: #FFFFFF;
    font-size: 64px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-family: "Roboto-Regular", sans-serif;
}

.info {
    margin: 70px 70px;
}

.info__title {
    font-size: 48px;
    line-height: 56px;
    color: #121212;
    margin-bottom: 20px;
}

.info__city {
    font-size: 24px;
    line-height: 28px;
}

.info-media__list {
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-size: 32px;
    color: #121212;
}

.info-stack__list {
    display: flex;
    font-size: 32px;
    gap: 25px;
    padding-top: 20px;
    line-height: 37px;
}

.info-stack__link {
    background-color: #414141;
    padding: 14px 55px;
    border-radius: 45px;
    color: #FFFFFF;
}

h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #121212;
    font-size: 32px;
    line-height: 37px;
}

.about-me__description {
    font-size: 32px;
    line-height: 37px;
    color: #121212;
    width: 1026px;
    text-indent: 30px;
}

.description_2 {
    padding-top: 10px;
}

.info-feedback {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.info__form {
    padding: 14px 16px;
    border-radius: 11px;
    line-height: 37px;
    width: 338px;
    
}

.info__form::placeholder {
    font-size: 32px;
    color: #121212;
    font-family: "Roboto", sans-serif;
    line-height: 38px;
}

.info__form__button {
padding: 14px 207px;
border-radius: 11px;
background-color: #121212;
color: #FFFFFF;
margin-top: 25px;
font-size: 32px;
line-height: 37px;
width: 702px;
}

.info-stack__link:hover {
    opacity: 0.5;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
    cursor: pointer
}

.vkontakte:hover {
    filter: invert(48%) sepia(47%) saturate(4137%) hue-rotate(200deg) brightness(101%) contrast(106%);
}

.whatsapp:hover {
    filter: invert(59%) sepia(27%) saturate(1129%) hue-rotate(82deg) brightness(98%) contrast(93%);
}

.instagram:hover {
    filter: invert(55%) sepia(94%) saturate(775%) hue-rotate(255deg) brightness(97%) contrast(90%);
}

.telegram:hover {
    filter: invert(53%) sepia(97%) saturate(383%) hue-rotate(165deg) brightness(101%) contrast(94%);
}

.linkedin:hover {
    filter: invert(39%) sepia(36%) saturate(889%) hue-rotate(159deg) brightness(99%) contrast(87%);
}

.github:hover {
    filter: invert(99%) sepia(68%) saturate(76%) hue-rotate(150deg) brightness(116%) contrast(90%);
}

@media (max-width:993px) and (min-width:541px) {
    .info {
        margin: 20px 45px
    }
    .container {
        width: 993px;
        height: 658px;
}
    .photo__image {
        width: 372px;
    height: 658px;
    }
    .info__title {
        font-size: 32px;
        line-height: 37px;
    }
    .info__city {
        font-size: 20px;
        line-height: 23px;
    }
    .info-stack__list {
        flex-wrap: wrap;
        font-size: 24px;
        line-height: 28px;
        gap: 20px;
    }
    .info-stack__link {
        padding: 10px 45px;
    }
    .about-me__description {
        width: 530px;
        font-size: 20px;
        line-height: 23px;
    }
    .photo__title {
        padding: 12px 61px 12px 60px;
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
        bottom: -65px;
    }
    .info-stack__link_4 {
        order: 1;
    }
    .info-feedback {
        margin-top: 20px;
        gap: 20px;
    }
    .info-media__list {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .info__form {
        padding: 10px 0px 10px 16px;
        width: 232px;
        line-height: 28px;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    h3 {
        margin-top: 30px;
        font-size: 24px;
    line-height: 28px;
    }
    .info__form::placeholder {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
    }
    .info__form__button {
        padding: 10px 0px 10px 13px;
        width: 484px;
        font-size: 24px;
        line-height: 28px;
        margin-top: 20px
    }
}

@media (max-device-width:541px) {
    .container {
        flex-wrap: wrap;
        width: 540px;
        height: 1293px;
        justify-content: center;
    }
    .info {
        margin: 16px 0px;
        width: 390px;
    }
    .photo__image {
        width: 390px;
        height: 689px;
    }
    .photo__title {
        font-size: 24px;
        line-height: 28px;
        bottom: 0px;
    }
    .info__title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .info__city {
        font-size: 18px;
        line-height: 21px;
    }
    .info-media__item {
        width: 32px;
        height: 32px;
    }
    .info-media__icon {
        width: 32px;
        height: 32px;
    }
    .info-media__list {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    h2 {
        font-size: 20px;
        line-height: 23px;
    }
    .info-stack__list {
        font-size: 16px;
        line-height: 18px;
        font-size: 16px;
        line-height: 18px;
        gap: 10px;
        flex-wrap: wrap;
        display: flex;
        padding-top: 10px;
        padding-right: 40px;
    }
    .info-stack__link {
        padding: 8px 35px;
    }
    h3 {
        font-size: 20px;
        line-height: 23px;
        margin-top: 16px;
        margin-bottom: 10px;
    }
    .about-me__description {
        font-size: 16px;
        line-height: 18px;
        width: 354px;
    }
    .info__form {
        padding: 8px 0px 16px 8px;
        width: 185px;
        height: 35px;
    }
    .info__form::placeholder {
        font-size: 16px;
        line-height: 18px;
    }
    .info-feedback {
        margin-top: 16px;
        gap: 20px;
    }
    .info__form__button {
        width: 390px;
        height: 35px;
        font-size: 16px;
        line-height: 18px;
        padding: 8px 8px;
        margin-top: 16px;
    }
    }

